// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.question, .answer {
  border-left: solid 5px grey;
  padding-left: 15px;
}

.answer {
  background-color: #FFFFE1;
}

